<template>
    <form @submit.prevent>
        <app-input v-model="name" name="name" :required="true" requiredMessage="Please provide a name.">Name
        </app-input>
        <app-textarea v-model="description" name="description" :required="false">Description
        </app-textarea>

        <app-button color="primary" :disabled="!name.length" @click="saveElement">Save</app-button>
        <app-button color="link" @click="$router.go(-1)">Back</app-button>
    </form>
</template>

<script>
    import AppButton from "./AppButton";
    import AppInput from "./AppInput";
    import AppTextarea from "./AppTextarea";

    export default {
        name: "AddForm",
        components: {AppTextarea, AppInput, AppButton},
        data: function () {
            return {
                name: '',
                description: ''
            }
        },
        methods: {
            saveElement() {
                var data = {
                    name: this.name,
                    description: this.description
                }
                data.date_created = this.$moment().format('YYYY-MM-DD HH:mm:ss')
                data.date_modified = data.date_created
                data.description = this.description

                this.$store.dispatch('addElement', {db: this.$db, data}).then((id) => {
                    debugger
                    this.$router.push({name: 'view', params: {id}})
                }).catch((e) => {
                    console.error('Error while saving new todo list element')
                    this.$router.push({name: 'list'})
                })

            }
        }
    }
</script>

<style scoped>

</style>
