<template>
    <button :type="type" :class="classes" @click.prevent="$emit('click', $event)"><slot></slot></button>
</template>

<script>
    export default {
        name: "AppButton",
        props: {
            type: {
                type: String,
                default: 'button'
            },
            color: {
                type: String,
                default: 'light'
            }
        },
        computed: {
          classes () {
              var classes = {
                  btn: true
              }
              if(typeof this.color === 'string' && this.color.length) {
                  classes['btn-' + this.color] = true
              }
              return classes
          }
        },
    }
</script>

<style scoped>
    button {
        margin-right: 5px;
    }
</style>
