<template>
    <div class="form-group">
        <label :for="id"><slot></slot></label>
        <input type="text" :class="classes" :name="name" :id="id" :required="required" :disabled="disabled" :value="value" @input="onInput" />
        <div class="invalid-feedback" v-if="isError">
            {{ requiredMessage }}
        </div>
    </div>
</template>

<script>
    export default {
        name: "AppInput",
        inheritAttrs: false,
        data () {
          return {
              validated: false
          }
        },
        props: {
            name: {
              type: String,
              required: true
            },
            value: {
                type: String,
                default: ''
            },
            required: {
                type: Boolean,
                default: false
            },
            requiredMessage: {
              type: String,
              default: ''
            },
            disabled: {
                type: Boolean,
                default: false
            }
        },
        computed: {
            id () {
              return this.name + this._uid
            },
            isError () {
                return this.required && !this.value.length
            },
            classes () {
                return {
                    'form-control': true,
                    'form-control-lg': true,
                    'is-valid': this.validated && !this.isError,
                    'is-invalid': this.validated && this.isError
                }
            }
        },
        methods: {
            onInput (event) {
                var value = event.target.value
                this.validated = true
                this.$emit('error', {name: this.name, error: this.required && !value.length})

                this.$emit('input', value)
            }
        }
    }
</script>

<style scoped>

</style>
