<template>
    <div class="form-group">
        <label :for="id"><slot></slot></label>
        <textarea :class="classes" :name="name" :id="id" :required="required" :disabled="disabled" @input="onInput">{{ value }}</textarea>
        <div class="invalid-feedback" v-if="isError">
            {{ requiredMessage }}
        </div>
    </div>
</template>

<script>
    import AppInput from '@/components/form/AppInput.vue'
    export default {
        extends: AppInput,
        name: "AppTextarea"
    }
</script>

<style scoped>

</style>
