<template>
    <div>
        <app-badge color="info">Created {{ dateCreated }}</app-badge>
        <app-badge color="info">Last modified {{ dateModified }}</app-badge>
        <app-badge color="success" v-if="element.done">Done :)</app-badge>
        <app-badge color="danger" v-if="!element.done">Isn't done yet</app-badge>

        <form @submit.prevent>
            <app-input v-model="name" name="name" :required="true" requiredMessage="Please provide a name."
                       :disabled="disabled" @error="setError">Name
            </app-input>
            <app-textarea v-model="description" name="description" :required="false" :disabled="disabled"
                          @error="setError">
                Description
            </app-textarea>

            <app-alert color="success" v-if="alert === 'success'">Changes saved!</app-alert>
            <app-alert v-if="alert === 'pending'">Pending..</app-alert>
            <app-alert color="danger" v-if="alert === 'error'">An error occured.</app-alert>

            <app-button color="success" @click="markDone" v-if="!element.done">Mark as done</app-button>
            <app-button color="dark" @click="markUndone" v-if="element.done">Mark as undone</app-button>
            <app-button color="danger" @click="deleteElement">Delete</app-button>
            <app-button color="warning" @click="$router.push({name: 'add'})">Add new task</app-button>
            <app-button color="info" @click="$router.push({name: 'list'})">Go to task list</app-button>
        </form>
    </div>
</template>
<script>
    import AppAlert from "@/components/AppAlert"
    import AppButton from "@/components/form/AppButton"
    import AppInput from "@/components/form/AppInput"
    import AppTextarea from "@/components/form/AppTextarea"
    import AppBadge from "@/components/AppBadge";

    export default {
        name: 'EditForm',
        components: {AppBadge, AppAlert, AppButton, AppInput, AppTextarea},
        props: {
            alert: {
                type: String,
                default: 'none'
            },
            disabled: {
                type: Boolean,
                default: false
            },
            element: {
                type: Object,
                default: null
            },
            deleteElement: {
                type: Function
            },
            markDone: {
                type: Function
            },
            markUndone: {
                type: Function
            },
            setError: {
                type: Function
            }
        },
        computed: {
            name: {
                get() {
                    return this.element.name
                },
                set (value) {
                    this.$emit('change', {field: 'name', value: value})
                }
            },
            description: {
                get() {
                    return this.element.description
                },
                set (value) {
                    this.$emit('change', {field: 'description', value: value})
                }
            },
            dateCreated() {
                return this.prettyFormatDate(this.element.date_created)
            },
            dateModified() {
                return this.prettyFormatDate(this.element.date_modified)
            }
        },
        methods: {
            prettyFormatDate(date) {
                return this.$moment(date).fromNow()
            }
        }
    }
</script>
