<template>
    <div>
        <div v-if="loading">Loading...</div>
        <div v-else-if="notFound">
            <p>Element not found :(</p>
            <app-button color="link" @click="$router.push({name: 'list'})">Go to Home</app-button>
        </div>
        <edit-form v-else :alert="alert" :delete-element="onRemove" :disabled="disabled" :element="element"
                   :mark-done="markDone" :mark-undone="markUndone" :set-error="onError" @change="onChange"></edit-form>
    </div>
</template>

<script>
    import AppButton from "../components/form/AppButton";
    import EditForm from "../components/form/EditForm";

    export default {
        name: "TodoView",
        components: {
            EditForm,
            AppButton
        },
        data() {
            return {
                alert: 'none',
                alertTimeout: false,
                changes: {},
                errors: {},
                element: {}
            }
        },
        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.loadElement()
            })
        },
        beforeRouteUpdate(to, from, next) {
            this.loadElement()
            next()
        },
        computed: {
            disabled() {
                return Boolean(this.element.done)
            },
            loading() {
                return this.$store.getters.getStatus !== 'loaded'
            },
            notFound() {
                return this.$store.getters.getStatus === 'loaded' && !this.element
            }
        },
        methods: {
            loadElement() {
                    var element = this.$store.getters.getElement(this.$route.params.id)
                    this.setElement(element)
            },
            setElement(element) {
                for (var field in element) {
                    this.$set(this.element, field, element[field])
                }
            },
            onChange(data) {
                this.$set(this.changes, data.field, data.value)
                this.commitDataAndRunSync()
            },
            onError(data) {
                this.$set(this.errors, data.name, data.error)
            },
            onRemove() {
                this.$store.dispatch("deleteElement", {db: this.$db, id: this.element.id})
                this.$router.go(-1)
            },
            commitDataAndRunSync() {
                this.commitData()

                if (this.isError()) {
                    this.setAlert('error')

                    this.refreshAlertTimeout(() => {
                        this.setAlert('none')
                        this.reloadTodos() // restore old data after 3 seconds, when there is an error in form
                    }, 3000)
                } else {
                    this.setAlert('pending')
                    this.refreshAlertTimeout(() => {
                        this.synchronizeChanges() // save data after 3 seconds from last change
                    }, 3000)
                }
            },
            commitData() {
                this.changes.id = this.element.id
                this.$store.commit('updateElement', this.changes)
            },
            reloadTodos() {
                this.$store.dispatch('loadTodos', this.$db)
            },
            synchronizeChanges() {
                this.$set(this.changes, 'date_modified', this.$moment().format('YYYY-MM-DD HH:mm:ss'))

                this.dispatchUpdate(this.changes).then(() => {
                    this.clearChanges()

                    this.setAlert('success')
                    this.refreshAlertTimeout(() => {
                        this.setAlert('none')
                    }, 2000)
                })
            },
            dispatchUpdate(data) {
                return this.$store.dispatch("updateElement", {id: this.element.id, db: this.$db, data})
            },
            clearChanges() {
                var fields = []
                for (var field in this.changes) {
                    fields.push(field)
                }
                for (var idx = 0; idx < fields.length; idx++) {
                    this.$delete(this.changes, fields[idx])
                }
            },
            isError() {
                for (var field in this.errors) {
                    if (this.errors[field]) {
                        return true
                    }
                }
                return false
            },
            setAlert(type) {
                this.alert = type
            },
            refreshAlertTimeout(callback, time) {
                if (this.alertTimeout !== false) {
                    clearTimeout(this.alertTimeout)
                }
                this.alertTimeout = setTimeout(() => {
                    this.alertTimeout = false
                    callback.call()
                }, time)
            },
            updateDoneStatus(status) {
                this.clearChanges()
                this.$set(this.changes, 'done', status)
                this.synchronizeChanges()
            },
            markDone() {
                this.updateDoneStatus(true)
            },
            markUndone() {
                this.updateDoneStatus(false)
            }
        }
    }
</script>

