<template>
    <div class="row justify-content-center">
        <div class="list-group col-md-8">
            <button @click.prevent="onElementClick(element)" v-for="(element, id) in $store.state.todos" :key="id"
                    type="button" :class="css(element)">
                <div v-if="element.done"><s>{{ element.name }}</s></div>
                <div v-else>{{ element.name.length ? element.name : 'Empty :(' }}</div>
            </button>
            <button v-if="!$store.getters.getCount" class="list-group-item">No tasks yet :)</button>
            <button @click.prevent="onAddButtonClick" type="button"
                    class="list-group-item list-group-item-action list-group-item-dark add">Add
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TodoList",
        data() {
            return {}
        },
        computed: {},
        methods: {
            onElementClick(element) {
                this.$router.push({name: 'view', params: {id: element.id}})
            },
            onAddButtonClick() {
                this.$router.push({name: 'add'})
            },
            css(element) {
                var base = 'list-group-item list-group-item-action'
                if (element.done) {
                    base += ' list-group-item-success'
                }
                return base
            }
        }
    }
</script>

<style scoped>
    .add {
        text-align: center;
        font-weight: bold;
        font-size: 120%;
    }
</style>
