<template>
    <div>
        <add-form></add-form>
    </div>
</template>

<script>
    import AddForm from "@/components/form/AddForm.vue"

    export default {
        name: "TodoAdd",
        components: {
            AddForm
        }
    }
</script>

<style scoped>

</style>
