<template>
    <div :class="classes">
        <slot></slot>
    </div>
</template>

<script>
    export default {
        name: "AppAlert",
        props: {
            color: {
                type: String,
                default: 'info'
            }
        },
        computed: {
            classes() {
                var classes = {
                    alert: true
                }
                if (typeof this.color === 'string' && this.color.length) {
                    classes['alert-' + this.color] = true
                }
                return classes
            }
        }
    }
</script>

<style scoped>

</style>
