<template>
    <span :class="classes"><slot></slot></span>
</template>

<script>
    export default {
        name: "AppBadge",
        props: {
            color: {
                type: String,
                default: 'info'
            }
        },
        computed: {
            classes() {
                var classes = {
                    badge: true
                }
                if (typeof this.color === 'string' && this.color.length) {
                    classes['badge-' + this.color] = true
                }
                return classes
            }
        }
    }
</script>

<style scoped>
    .badge {
        margin-right: 5px;
    }
</style>
