<template>
    <div class="container">
        <h1>TODO list</h1>
        <div></div>
        <app-alert color="danger" v-if="!$store.state.storageAvailable">Local storage is not available - data will not
            be synced between multiple windows
        </app-alert>
        <app-alert color="danger" v-if="!$db">Web SQL is not available - data can not be saved! Application halted.
        </app-alert>
        <router-view v-else/>
    </div>
</template>

<script>
    import AppAlert from "./components/AppAlert";
    import storageAvailable from "./lib/storageAvailable"

    export default {
        components: {AppAlert},
        created() {
            if (storageAvailable('localStorage')) {
                this.$store.commit('setStorageAvailablity', true)
            }
        }
    }
</script>

<style lang="scss">
    @import "../node_modules/bootstrap/scss/bootstrap.scss";

    h1 {
        font-size: 50px;
        text-align: center;
    }
</style>
